* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  h1{
    font-size: 38px;
    text-align: center;
    margin-top:10px;
  }
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  #logo{
    color: #b3f00b;
    font-size: 30px;
    margin-left: 50px;
    position: sticky;
}
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  
  }
  .listx{
    margin-top: 100px;
    position: sticky;
  }
  .list{
    display: inline;
    justify-content: space-evenly;
    margin-right: 70px;
  }
 a {
    color: #fff;
    text-decoration: none;
    
  }
  #z{
    color: #333;
  }
  .x{
    padding-bottom: 5px;
    margin-right: 100px;
  }

  section {
    padding: 40px;
  }
  
  h1,h2 {
    text-decoration: underline;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  p {
    text-align: left;
    margin-bottom: 10px;
  }
  ol{
    text-align: left;
    list-style: circle;
  }
  .project {
    margin-bottom: 40px;
  }
  
  .project h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project p {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align:center;
    padding-top: 5px;
  }
  #container{
    display: flex;
    flex-direction: row;
  }
  .textyz
  {  
    margin: 60px;
    margin-left: 430px;
    position: sticky;
}
.text{
  display: inline;
  justify-content: space-evenly;
    margin: 60px;
}
#p{
  color: #7a7676;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
.project,h2,section,header,body,
 .project h2, footer {
    width: 100%;
    font-size: 10px;
  }
}
@media only screen and (max-width: 620px) {
ol{
  text-align: start;
}
}
@media only screen and (max-width: 620px) {
  #p{
    text-align: center;
  }
  }
  @media only screen and (max-width: 620px) {
  .x{
    margin-right: 5px;
    font-size: 10px;
  text-align: center;
  }
} 
@media only screen and (max-width: 620px) {
  h1{
    font-size: 20px;
  }
  }
  @media only screen and (max-width: 620px) {
    #logo{
      font-size: 15px;
      margin-left: 15px;
    }
    }
    @media only screen and (max-width: 620px) {
      .y{
        width: 40px;
      }
      }
      @media only screen and (max-width: 620px) {
        .text{
          display: inline;
          justify-content: space-evenly;
          margin-right: 30px;
        }}
        @media only screen and (max-width: 620px) {
          .textyz
          {  
            margin: 60px;
            margin-left: 130px;
            position: sticky;
          }}
          @media only screen and (max-width: 620px) {
            .listx{
              margin-top: 100px;
              position: sticky;
              margin-bottom: 20px;
            }
            .list{
            margin: 40px;
            justify-content: space-evenly;

            }}